@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
 :root {
	 --color-white-100: #fff;
	 --color-white-200: #e6e6e6;
	 --color-white-300: #ccc;
	 --color-white-400: #b3b3b3;
	 --color-white-500: #999;
	 --color-white-600: #808080;
	 --color-black-100: #1f1f1f;
	 --color-black-200: #1a1a1a;
	 --color-black-300: #141414;
	 --color-black-400: #0f0f0f;
	 --color-black-500: #0a0a0a;
	 --color-black-600: #050505;
	 --shadow-small: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
	 --shadow-medium: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
	 --shadow-large: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}
 *, *::before, *::after {
	 padding: 0;
	 margin: 0;
	 list-style: none;
	 list-style-type: none;
	 text-decoration: none;
	 box-sizing: border-box;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 text-rendering: optimizeLegibility;
}
 html {
	 font-size: 100%;
	 font-style: normal;
	 font-display: fallback;
	 scroll-behavior: smooth;
	 height: -webkit-fill-available;
}
 body {
	 font-family: "Roboto", system-ui, sans-serif;
	 font-size: 1rem;
	 font-weight: 400;
	 line-height: 1.5;
	 color: var(--color-black-500);
	 background-color: var(--color-white-100);
}
 a, button {
	 cursor: pointer;
	 user-select: none;
	 white-space: nowrap;
	 border: none;
	 outline: none;
	 color: inherit;
	 background: none;
}
 h1, h2, h3, h4, h5 {
	 line-height: 1.15;
	 text-wrap: balance;
	 word-wrap: break-word;
}
 p {
	 max-width: 50ch;
}
 p, li {
	 line-height: 1.5;
	 text-wrap: pretty;
	 word-wrap: break-word;
}
 img, svg, picture, video {
	 font-style: italic;
	 max-width: 100%;
	 height: auto;
	 object-fit: cover;
	 shape-margin: 1rem;
	 vertical-align: middle;
}
 img, svg {
	 background-size: cover;
	 background-repeat: no-repeat;
	 image-rendering: -webkit-optimize-contrast;
	 image-rendering: -moz-crisp-edges;
	 image-rendering: crisp-edges;
}
 .container {
	 max-width: 75rem;
	 height: auto;
	 margin-inline: auto;
	 padding-block: 5rem;
	 padding-inline: 1.5rem;
}
 .center {
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .btn {
	 display: inline-flex;
	 font-family: inherit;
	 font-size: 1rem;
	 font-weight: 500;
	 line-height: 1.5;
	 align-items: center;
	 white-space: nowrap;
	 text-align: center;
	 justify-content: center;
	 vertical-align: middle;
	 padding-block: 0.65rem;
	 padding-inline: 1.65rem;
	 border-radius: 0.25rem;
}
 .btn-neutral {
	 color: var(--color-black-600);
	 background-color: var(--color-white-100);
	 box-shadow: var(--shadow-medium);
}
 .btn-darken {
	 color: var(--color-white-100);
	 background-color: var(--color-black-500);
	 box-shadow: var(--shadow-medium);
}
 .title-medium {
	 font-family: inherit;
	 font-size: 2rem;
	 font-weight: 700;
	 text-transform: capitalize;
}
 .column {
	 display: grid;
	 grid-template-columns: 1.2fr 1fr 1fr;
	 min-height: 100vh;
}
 .menu {
	 display: inline-flex;
	 column-gap: 1.25rem;
	 padding-top: 1.5rem;
	 padding-inline: 2rem;
}
 .menu-link {
	 color: var(--color-white-200);
}
 .content {
	 display: grid;
	 grid-template-columns: 1fr;
	 overflow: hidden;
}
 .content-left {
	 grid-auto-rows: 1fr;
	 color: var(--color-white-200);
	 background-color: var(--color-black-200);
}
 .content-center {
	 grid-template-rows: 3fr 1fr;
}
 .content-right {
	 grid-template-rows: 1fr 3fr;
}
 .content-image {
	 min-width: 100%;
	 min-height: 100%;
}
 .content-inner {
	 display: flex;
	 flex-direction: column;
	 align-items: flex-start;
	 row-gap: 1.25rem;
	 padding: 1.5rem 2rem;
}
 .footer {
	 align-self: flex-end;
	 padding-inline: 2rem;
	 padding-bottom: 1.5rem;
}
 @media screen and (max-width: 1024px) {
	 .column {
		 grid-template-columns: 1fr 1fr;
	}
	 .content-right {
		 grid-column: span 2;
		 grid-template-columns: 1fr 1fr;
		 grid-template-rows: 1fr;
	}
}
 @media screen and (max-width: 768px) {
	 .column {
		 grid-template-columns: 100%;
		 grid-template-rows: 30rem 25rem 25rem;
	}
	 .content-center {
		 grid-row: 2;
		 grid-template-columns: 1fr 1fr;
		 grid-template-rows: 1fr;
	}
}
 @media screen and (max-width: 576px) {
	 .column {
		 grid-template-rows: 40rem 35rem 35rem;
	}
	 .content-center, .content-right {
		 grid-column: span 1;
		 grid-template-columns: 1fr;
		 grid-template-rows: 1fr 1fr;
	}
	 .content-center {
		 border-bottom: 1px solid var(--color-white-200);
	}
	 .content-image {
		 width: 100%;
		 height: 100%;
	}
}

.paragraph{
	text-align: left;
}

.footer{
	text-align: left;
}